#verse-image img {
  max-width: 300px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.easter-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}
